.detail-bar {
  @include flex-layout(row);
  gap: 2rem;
  transition: all 0.5s;
  @include tablet{
    flex: 1;
    flex-direction: column;
    align-items: start;
    gap: 0;
  }
  &:hover {
    transform: scale(1.05);
    background-image: lighten (#691092, #4605df, 10%);
  }
}
.icon-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #D869C850 0%, #ffffff30 50%, #ffffff00 75%)
      no-repeat top center,
    #111;
  background-size: 110% 70%;
  @include flex-layout();
  position: relative;
}
.icon-circle::before {
  position: absolute;
  bottom: 8px;
  left: 0;
  content: "";
  width: 80px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(circle at center, #D869C850 0%, #ffffff30 50%, #ffffff00 75%);
}
.detail-icon {
  font-size: 60px;
  color: #ff7c55;
  z-index: 1;
}
.detail-txt {
  font-size: $font-medium;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(45deg, #69109250, #4605df50);
  flex: 1;
  @include flex-layout(row);
  @include tablet{
    width: 100%;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    padding: 1rem;
  }
  &:hover {
    background-image: lighten (#691092, #4605df, 10%);
  }
  p {
    flex: 1;
  }
  button {
    @include btn-style(#777);
  }
}
.curve-wrap {
  position: relative;
  top: 0;
  height: 50px;
  overflow: hidden;
  div {
    border-top-left-radius: 90% 100%;
    border-top-right-radius: 90% 100%;
    position: absolute;
    width: 100%;
    height: 100px;
    left: 0;
  }
  .curve-circle {
    top: 5px;
    z-index: 6;
    background: radial-gradient(
        50% 500% at 50% -420%,
        rgba(64, 97, 231, 0.3) 80%,
        rgba(16, 16, 16, 0.1) 100%
      ),
      $bg-color;
  }
  .gradient-line {
    top: 0;
    background: radial-gradient(
      circle,
      rgba(255, 0, 84, 1) 0%,
      rgba(255, 44, 115, 0.6) 80%,
      rgba(63, 0, 181, 0.3) 100%
    );
  }
}
