.why-join {
  margin: 2rem 0;
  h2 {
    font-size: 2rem;
  }
  ul {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    li {
      position: relative;
      flex: 1;
      aspect-ratio: 1/1.5;
      background-image: linear-gradient(135deg, #434375, #2c0f3a, #730e68);
      padding: 1rem;
      border-radius: 10px;
      *{margin: 0.5rem 0;}
      h3{
        font-size: 1.5rem;
      }
      p{
        color: rgba(255,255,255,0.7);
        font-size: 1.2rem;
      }
      div{
        font-size: 4rem;
        position: absolute;
        bottom: 5px;
        right: 20px;
      }
    }
  }
}
